.heading
{
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0 4rem;
    color: #444;
    position: relative;
}

.heading::after
{
    content: '';
    position: relative;
    display: block;
    width: 2em;
    height: 4px;
    background-color: #FB6C6C;
    top: 100%;
    left: 50%;
    margin-left: -1em;
}

.heading > i
{
    display: inline-block;
    height: .6em;
    width: .6em;
    background-image: url( '../../img/pokeball.svg' );
    background-repeat: no-repeat;
}
